version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "build: ⬆️"
    groups:
      all-deps:
        patterns:
          - "*"
    ignore:
      - dependency-name: "react"
      - dependency-name: "react-dom"
      - dependency-name: "react-native"
